@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#title {
    color:#ACA6A6;
    font-family: 'Chewy', cursive;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 55px;
}

header {
    height: 75px;
    background-color: #454545;
    text-align: center;
}

img {
    width:160px;
    height:220px;
}

.partyname {
    font-weight: bold;
}

.partylieu {
    color: #8F5922;
}


.ctt {
    margin-top:20px;
    margin-left:20px;

}

.onefete {
    width: 160px;
    float: left;
    margin-left: 20px;
}

#dateJ {
    color:#ACA6A6;
    float: right;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 25px;
    margin-right: 40px;
}